.bg {
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
    filter: brightness(0.6);
    img {
        object-fit: contain;
       height: 100%;
      width: 2000px;
       
    }


}