nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: rgba(Black, 1);
    border-bottom: 2px solid #FFDD21;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 998;
    .search {
       position: relative;
       left: 20px;
   width: 300px;
   display: flex;
   align-items: center;
  
      i {
          color: white;
          font-size: 18px;
          margin-right: 10px;
          cursor: pointer;
          z-index: 999;
        }

        .searchOn {
          display: flex;
          align-items: center;
          transition: 0.2s;
          transform-origin: left;
          transform: scaleX(1);
          position: relative;
          right: 40px;
       input {
          border: none;
          padding: 8px;
          border-radius: 10px;
          background-color: rgba(155, 159, 165, 0.4);
          padding-left: 40px;
    
       }
        
        }
         .searchOff {
          display: flex;
          align-items: center;
          transition: 0.5s;
          transform-origin: left;
          transform: scaleX(1);
          position: relative;
          right: 40px;
          transition: 0.2s;
          transform-origin: left;
         transform: scaleX(0);
         input {
          border: none;
          padding: 8px;
          border-radius: 10px;
          background-color: rgb(155, 159, 165);  
       }
     
        }

    }
  
    img {
        width: 50px;
        height: 50px;
    }
    a {
        padding: 15px;
        text-decoration: none;
        color: white;
        font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  border-top: 2px solid transparent;
  &:hover {
    color: #FFDD21;
    border-top: 2px solid#FFDD21;
  }
    }

    .menu-food-sleep {
      i {
        padding: 15px;
        background-color: black;
        color: white;
        cursor: pointer;
        &:hover {
          color: #FFDD21;
        }
      }
    }
}

#menu-nav {




.onFood {
  // transform: translateX(0);
  // transition: 0.8s;
  animation: 0.8s showFood forwards ease-in-out;
  z-index: 999;
}

.offFood {
  // transform: translateX(-4000px);
  // transition: 0.8s;
  animation: 0.8s hideFood forwards ease-in-out;

}

.onSleep {
  // transform: translateX(0);
  // transition: 0.8s;
  animation: 0.8s showSleep forwards ease-in-out;
  z-index: 999;
}

.offSleep {
  // transform: translateX(4000px);
  // transition: 0.8s;
  animation: 0.8s hideSleep forwards ease-in-out;

}

@keyframes showFood {

  0% {
    transform: translateX(-2000px);
  }
  60% {
    transform: translateX(50px);
  }
  80% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }

} 
@keyframes hideFood {

  0% {
    transform: translateX(0);
  }
 
  100% {
    transform: translateX(-2000px);
  }

} 

@keyframes showSleep {

  0% {
    transform: translateX(2000px);
  }
  60% {
    transform: translateX(-50px);
  }
  80% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }

} 
@keyframes hideSleep{

  0% {
    transform: translateX(0);
  }
 
  100% {
    transform: translateX(2000px);
  }

} 
  


#food, #sleep {
  h2 {
    margin: 20px 0 50px 0;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
    font-size: 34px;
    color: #ffffff;
  }
  i {
    position: absolute;
    right: 0;
    padding: 20px;
    font-size: 25px;
    color:  rgb(248, 246, 246);
    cursor: pointer;
  }
}

  #food {
    position: fixed;
    top: 58px;
    left: 0;
    background: rgb(2, 64, 66);
    width: 50%;
 

  }


  #sleep {
    position: fixed;
    top: 58px;
    right: 0;
    background: rgb(2, 20, 32);
    width: 50%;
  }

  #food, #sleep {
    height: 100%;
  .hotel, .resto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    justify-items: center;
  }

  .card-hotel, .card-food {
    
    .infos-hotel, .infos-resto {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
   
     p, h3 {
      color: white;
      text-align: left;
      margin: 5px 0 5px 0;
      font-size: 20px;
     }
    
    }
 
    img {
      object-fit: cover;
      width: 300px;
      height: 250px;
      border-radius: 20px;
      
    }
    h3 {
    padding: 0;

    }
    i {
      position: inherit;
      padding: 0;
      font-size: 14px;
      margin: 2px;
    }
  }

  }

  


}


@media screen and (max-width: 1400px) {
#menu-nav {

    #food, #sleep {
      top: 0;
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      .hotel, .resto {
         grid-template-columns: 1fr;   
         gap: 40px;
      }
  
    }
}

}



@media screen and (max-width: 1200px) {



  nav {
    padding: 20px;
    justify-content: flex-start;
    width: 60px;
    border-right: 2px solid #FFDD21;
    border-bottom-right-radius: 10px;
    i {
      color:white;
      font-size: 25px;
      cursor: pointer;
     
    }
    #menuTel {
      cursor: pointer;
      animation: 5s logoMenu  ease-in-out infinite;
      border: 2px solid alternate #FFDD21;
      
    }
  }

  @keyframes logoMenu {
    0% {
      
        transform: rotate(0);
    }
   
    40% {
     
      transform: rotate(0);
  }
    50% {
    
    
      transform: rotate(360deg);
    }
  
    90% {
      
      transform: rotate(360deg);
    }

    100%{
       
        transform: rotate(0deg);
    }
  }
  .navtel {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
    border-bottom-right-radius: 10px;

    #close-menu {
      color: red;
    }
    a {
      padding: 15px 0 15px 0;
      border: none;
      &:hover {
        border: none;
      }
    }
    .search {
      left: 0;
    }
    .menu-food-sleep {
      i {
        padding: 15px;
        background-color: black;
        color: white;
        cursor: pointer;
        position: relative;
        right: 15px;
        display: grid;
        &:hover {
          color: #FFDD21;
        }
      }
    }
  }
  nav {
     img {
        border-radius: 100%;
        border: 2px solid #FFDD21;
    
    }
  }
   
  }
